#question-list{
    margin-top: 30px;
}

.Box{
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    position: relative;
    padding: 0!important;
}

.Box-header{
    padding: 8px 16px!important;
    align-items: center;

    margin: -1px -1px 0;
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.Box-body{
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: -1px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

    overflow-x: auto;
    overflow-y: hidden;

    padding: 8px!important;
}